body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(213, 198, 161);
    padding: 10px;
    min-width: 400px;
    max-width: 600px;
}

input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgb(15, 65, 37);
    border-radius: 5px;
    padding: 7px 5px;
}


h3 {
    font-weight: bold;
    color:rgb(15, 65, 37);
    margin: 5px 0px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px 0px 0px;
}

ul {
    margin: 0px;
    padding-left: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family:'Times New Roman', Times, serif;
    margin: 7px 0px;
}

.shortdef {
    margin: 5px 0px;
}

#err {
    display: none;
}

#part-of-speech {
    font-style: italic;
    text-align: left;
    margin: 0px;
}

#credits {
    text-align: right;
    font-size: 0.5em;
}